a {
   text-decoration: none;
   color: #444;
}

li {
  list-style: none;
}

ul, h1, h2, p {
  margin: 0;
  padding: 0;
}

.row {
  overflow: hidden;
  &:not(:first-child) {
    margin-top: 20px;
  }
  &.flex {
    display: flex;
    align-items: center;
  }
}

.doc-content {
  h1 {
    font-weight: 400;
    font-size: 28px;
  }
  p {
    color: #5e6d82;
    font-size: 14px;
    padding: 20px 0;
  }
  .preview-wrapper {
    width: 80%;
    box-sizing: border-box;
    align-items: center;
  }
}