$main-color: #409eff;
$primary-color: #409eff;
$primary-hover-color: #66b1ff;
$success-color: #67c23a;
$success-hover-color: #85ce61;
$info-color: #909399;
$info-hover-color: #a6a9ad;
$warn-color: #e6a23c;
$warn-hover-color: #ebb563;
$error-color: #f56c6c;
$error-hover-color: #f78989;
a {
   text-decoration: none;
   color: #444;
}

li {
  list-style: none;
}

ul, h1, h2, p {
  margin: 0;
  padding: 0;
}

.row {
  overflow: hidden;
  &:not(:first-child) {
    margin-top: 20px;
  }
  &.flex {
    display: flex;
    align-items: center;
  }
}

.doc-content {
  h1 {
    font-weight: 400;
    font-size: 28px;
  }
  p {
    color: #5e6d82;
    font-size: 14px;
    padding: 20px 0;
  }
  .preview-wrapper {
    width: 80%;
    box-sizing: border-box;
    align-items: center;
  }
}